* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    color:white;
}

body {
    position: relative;
    min-height: 100vh; 
    background-color: #0F1A3D;
    height: 2800px; 
}
#bal{
    position: absolute;
    left: 1450px;
    background-color: transparent;
    width: 30px;
    color: white;
    top: 33px;
    font-size: 31px;
    font-weight: 600;
    border: none;
    z-index: 1000; 
}
#bal:hover{
    color: #3B82F6;
}
.bar {
    height: 870px;
    width: 86px;
    background-color: #3e6ce9;
    border-radius: 50px;
    float: left;
    margin-top: 35px;
    margin-left: 38px;
    position: fixed;
}
#bar-line {
    position: absolute;
    top: 353px;
    left: 0; 
    width: 100%; 
    height: 2px;
    background-color: #000000;
    border: none;
    margin: 0;
}
#settings, #promotion, #shop, #news, #slot, #card, #roulette, #game, #stream, #support {
    width: 100%;
    height: 100%;
    display: block;
    transition: all 0.3s ease;
}
.button_setting {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 13px;
    width: 60px;
    height: 60px;
    z-index: 10;
}
.button_setting::after {
    content: "Настройки";
    left:80px;
    top: 50%;
    width: 90px;
    height: 30px;
    transform: translateY(-50%);

}

.button_setting:hover::after {
    opacity: 1;
    visibility: visible;
    left: 85px;
}
.button_prom {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 98px; 
    left: 13px; 
    width: 60px;
    height: 60px;
    z-index: 10;
}
.button_prom::after {
    content: "Акции";
    left: 80px; 
    top: 100%;
    width: 60px;
    height: 30px;
    transform: translateY(-150%); 

    
}
.button_prom:hover::after {
    opacity: 1;
    visibility: visible;
    left: 85px; 
}
#active{
    position: absolute;
    top: 176px;
    left: 0px;
    background-color: #98b8ff;
    width: 86px;
    height: 75px;
    border: none;
}
.button_shop{
    position: absolute;
    background: none;
    border: none;
    top: 180px;
    left: 14px;
    width: 60px;
    height: 60px;
    z-index: 10;
}
.button_shop::after{
    content: "Магазин";
    scale: 0.85;
    width: 70px;
    height: 30px;
    top: 100%;
    left: 70px;
    transform: translateY(-150%);
    border: 2px solid #3B82F6;
    background: rgba(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    opacity: 0;
    visibility: visible;
    transition: all 0.3s ease;
    z-index: 100;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    align-content: center;
    position: absolute;
}
.button_news {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 256px; 
    left: 9px; 
    width: 71px;
    height: 73px;
    z-index: 10;
}
.button_news::after {
    content: "Новости";
    left: 85px; 
    top: 100%;
    width: 80px;
    height: 30px;
    transform: translateY(-150%); 
}
.button_news:hover::after {
    opacity: 1;
    visibility: visible;
    left: 90px; 
}
.button_slot {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 380px; 
    left: 14px; 
    width: 58px;
    height: 58px;
    z-index: 10;
}
.button_slot::after {
    content: "Слоты";
    left: 80px; 
    top: 100%;
    width: 80px;
    height: 30px;
    transform: translateY(-150%); 

}
.button_slot:hover::after {
    opacity: 1;
    visibility: visible;
    left: 85px; 
}
.button_card {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 460px; 
    left: 14px; 
    width: 60px;
    height: 55px;
    z-index: 10;
}
.button_card::after {
    content: "Карты";
    left: 80px; 
    top: 100%;
    width: 80px;
    height: 30px;
    transform: translateY(-150%); 

    
}
.button_card:hover::after {
    opacity: 1;
    visibility: visible;
    left: 85px; 
}
.button_roulette {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 526px; 
    left: 9px; 
    width: 70px;
    height: 70px;
    z-index: 10;
}
.button_roulette::after {
    content: "Рулетки";
    left: 85px; 
    top: 100%;
    width: 80px;
    height: 30px;
    transform: translateY(-170%); 

}
#roulette:hover{
    animation-name: twist;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function:linear
}
.button_roulette:hover::after {
    opacity: 1;
    visibility: visible;
    left: 90px; 
}

@keyframes twist {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(180deg);}
}
.button:hover #settings {
    animation: twist 1.5s linear infinite;
}
.button_game {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 610px; 
    left: 14px; 
    width: 60px;
    height: 60px;
    z-index: 10;
}
.button_game::after {
    content: "Game";
    left: 80px; 
    top: 100%;
    width: 80px;
    height: 30px;
    transform: translateY(-150%);  
}

.button_game:hover::after {
    opacity: 1;
    visibility: visible;
    left: 85px; 
}
.button_stream {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 680px; 
    left: 16px; 
    width: 57px;
    height: 57px;
    z-index: 10;
}
.button_stream::after {
    content: "Стрим-игры";
    left: 80px; 
    top: 100%;
    width: 100px;
    height: 30px;
    transform: translateY(-140%);   
}
.button_stream:hover::after {
    opacity: 1;
    visibility: visible;
    left: 85px; 
}
.button_support {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 784px; 
    left: 8px; 
    width: 70px;
    height: 70px;
    z-index: 10;
}
.button_support::after {
    content: "Помощь";
    left: 88px; 
    top: 100%;
    width: 80px;
    height: 30px;
    transform: translateY(-150%); 
}
.button_support:hover::after {
    left: 93px;
    opacity: 1;
    visibility: visible;

}
.button_support:hover::after {
    opacity: 1;
    visibility: visible;
}
.button_settings::after,
.button_card::after,
.button_game::after,
.button_news::after,
.button_prom::after,
.button_roulette::after,
.button_setting::after,
.button_slot::after,
.button_stream::after,
.button_support::after {
border: 2px solid #3B82F6;
background: rgba(0, 0, 0, 0.9);
color: rgb(255, 255, 255);
border-radius: 8px;
font-size: 14px;
font-family: Arial, sans-serif;
white-space: nowrap;
opacity: 0;
visibility: hidden;
transition: all 0.3s ease;
z-index: 100;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
align-content: center;
position: absolute;
}

.logo img{
    position: absolute;
    width: 300px;
    left: 209px;
    top: 0px;
}
#ahome{
    position: absolute;
    left: 920px;
}
#home{
    position: absolute;
    top: 1.8em;
    background-color: none;
    background-color: transparent;
    border: none;
}
#home:hover{
    transform: scale(1.1);
    filter: 
    drop-shadow(0 0 5px rgba(255, 255, 255, 0.7)); 
}
#registration{
    position: absolute;
    text-align: center;
    left: 1560px;
    top:37px;
    width: 170px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #134dac;
    background-color: #3B82F6;
    z-index: 100;
}
#autification{
    position: absolute;
    text-align: center;
    left: 1752px;
    top:37px;
    width: 91px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #3B82F6;
    background-color:#134dac;
    z-index: 100;
}
a{
    text-decoration: none;
    color: darkgray;
    position: absolute;
    font-size: 10px;
}
#a{
    bottom: 70px;
    left:600px;    
}
#b{
    bottom: 70px;
    left:1030px;
}
#c{
    bottom: 70px;
    left:1360px;
}
#d{
    bottom: 50px;
    left:600px;
}
#e{
    bottom: 50px;
    left:1030px;
}
#f{
    bottom: 50px;
    left:1360px;
}
#g{
    bottom: 30px;
    left:600px;
}
#h{
    bottom: 30px;
    left:1030px;
}
#i{
    bottom: 30px;
    left:1360px;
}
#j{
    bottom: 10px;
    left:600px;
}
#k{
    bottom: 10px;
    left:1030px;
}
#l{
    bottom: 10px;
    left:1360px;
}
#settings:hover, 
#promotion:hover, 
#news:hover, 
#slot:hover, 
#card:hover, 
#roulette:hover, 
#game:hover, 
#stream:hover, 
#support:hover {
    filter: 
        drop-shadow(0 0 10px rgba(255, 255, 255, 0.9))
        drop-shadow(0 0 13px rgba(255, 255, 255, 0.8))
        drop-shadow(0 0 15px rgba(255, 255, 255, 0.7));
    transform: scale(1.1) rotate(15deg); 
}
#registration:hover, #autification:hover{
    border: 2px solid white;
}
#frame{
    position: absolute;
    top: 400px;
    left: 500px;
    margin-top: 100px;
    width: 1000px;
}
iframe{
        position: absolute;
        top: 400px;
        left: 500px;
}